<div class="container mt-3">
  <nav class="navbar navbar-expand-md navbar-light bg-light" style="background: transparent !important;">
    <a href="#" class="navbar-brand">Annuaire</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">

    </div>
  </nav>


  <div class="row mt-5">
    <div class="col-md-6">
      <form class="form-inline ml-auto" autocomplete="off" [formGroup]="searchForm">
        <mat-form-field class="example-form-field">
          <mat-label>Effectuer une recherche</mat-label>
          <input matInput type="text" formControlName="search">
          <button mat-button matSuffix mat-icon-button aria-label="Clear">
            <mat-icon style="font-size:30px">search</mat-icon>
          </button>
        </mat-form-field>

      </form>
    </div>

    <div class="col-md-6">
      <button mat-raised-button color="accent"
              (click)="openContactForm()"
              class="float-md-right">Ajouter un Contact
        <mat-icon>add</mat-icon>
      </button>
    </div>

  </div>


  <div class="row mt-4">
    <div style="width: 100%">
      <mat-table #table [dataSource]="dataSource"
                 style="width: 100%">


        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
          <mat-cell *matCellDef="let data">
            <p class="text-truncate font-weight-600">#{{data?.id}}</p>
          </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nom">
          <mat-header-cell *matHeaderCellDef>Nom</mat-header-cell>
          <mat-cell *matCellDef="let data">
            <p class="text-truncate font-weight-600">{{data?.nom}}</p>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="prenom">
          <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>PreNom</mat-header-cell>
          <mat-cell *matCellDef="let data" fxHide fxShow.gt-sm>
            <p class="text-truncate font-weight-600">{{data?.prenom}}</p>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="postnom">
          <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>PostNom</mat-header-cell>
          <mat-cell *matCellDef="let data" fxHide fxShow.gt-sm>
            <p class="text-truncate font-weight-600">{{data?.postnom}}</p>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="phone">
          <mat-header-cell *matHeaderCellDef>Phone</mat-header-cell>
          <mat-cell *matCellDef="let data">
            <p class="text-truncate font-weight-600">{{data?.phone}}</p>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Email</mat-header-cell>
          <mat-cell *matCellDef="let data" fxHide fxShow.gt-sm>
            <p class="text-truncate font-weight-600">{{data?.email}}</p>
          </mat-cell>
        </ng-container>


        <ng-container matColumnDef="societe">
          <mat-header-cell *matHeaderCellDef>Societé</mat-header-cell>
          <mat-cell *matCellDef="let data">
            <p class="text-truncate font-weight-600">{{data?.societe}}</p>
          </mat-cell>
        </ng-container>


        <ng-container matColumnDef="anniversaire">
          <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Anniv.</mat-header-cell>
          <mat-cell *matCellDef="let data" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
              {{data?.birthdate}}
            </p>
          </mat-cell>
        </ng-container>


        <!-- Buttons Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let data">
            <div fxFlex="row">
              <button mat-icon-button (click)="$event.stopPropagation();toggleStar(data)"
                      aria-label="Toggle star">
              </button>

              <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                      (click)="$event.stopPropagation();">
                <mat-icon class="secondary-text">more_vert</mat-icon>
              </button>

              <mat-menu #moreMenu="matMenu">
                <button mat-menu-item aria-label="edit"
                        (click)="openContactForm('update', data)">
                  <mat-icon>edit</mat-icon>
                  <span>Modifier</span>
                </button>

                <button mat-menu-item aria-label="remove">
                  <mat-icon>time</mat-icon>
                  <span>Supprimer</span>
                </button>
              </mat-menu>
            </div>

          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let data; columns: displayedColumns;"
                 class="contact"
                 (click)="editData(data)"
                 matRipple
        >
        </mat-row>


      </mat-table>

    </div>
  </div>
</div>

